<!-- 
    * html 기본완성 (vs-code 오른쪽 하단에 HTML속성으로 변경 확인)
      (입력 후 엔터)html:5 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Index :::</title>
</head>
<body>
    <hr>
    <p>
        <a href = "/memberList">member 조회하기</a> &nbsp; | &nbsp;
        <a href = "/lprodList">lpord 조회하기</a> &nbsp; | &nbsp;
        <a href = "/viewStaticImg">static 이미지 폴더 활용하기</a>
    </p>
    <hr>
</body>
</html>